<a href="https://colab.research.google.com/github/aMotevallian/MachineLearning/blob/main/ML_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import ast
import numpy as np

In [ ]:
credits = pd.read_csv('/content/drive/MyDrive/ML PROJECT/IMDB/credits.csv' )
keywords = pd.read_csv('/content/drive/MyDrive/ML PROJECT/IMDB/keywords.csv')
links_small = pd.read_csv('/content/drive/MyDrive/ML PROJECT/IMDB/links_small.csv')
movies_metadata = pd.read_csv('/content/drive/MyDrive/ML PROJECT/IMDB/movies_metadata.csv')
ratings_small = pd.read_csv('/content/drive/MyDrive/ML PROJECT/IMDB/ratings_small.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [ ]:
credits.isnull().sum()

cast    0
crew    0
id      0
dtype: int64

In [ ]:
credits.duplicated().sum()

37

we drop the duplicates

In [ ]:
credits = credits.drop_duplicates(subset = 'id')

In [ ]:
credits.duplicated().sum()

0

we extract the casts name and replace them

In [ ]:
casts = set([])
for i in credits.cast.values:
    l = ast.literal_eval(i)
    for j in l:
        casts.add(j["name"])

In [ ]:
c = pd.read_csv('/content/drive/MyDrive/ML PROJECT/IMDB/credits.csv' )

**ast.literal_eval : example of what it does**

In [ ]:
c.cast.values[0]

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

In [ ]:
ast.literal_eval(c.cast.values[0])

[{'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 {'cast_id': 16,
  'character': 'Mr. Potato Head (voice)',
  'credit_id': '52fe4284c3a36847f8024f9d',
  'gender': 2,
  'id': 7167,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'cast_id': 17,
  'character': 'Slinky Dog (voice)',
  'credit_id': '52fe4284c3a36847f8024fa1',
  'gender': 2,
  'id': 12899,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'cast_id': 18,
  'character': 'Rex (voice)',
  'credit_id': '52fe4284c3a36847f8024fa5',
  'gender': 2,
  'id': 12900,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'cast_id': 19,
  'character': 'Hamm (voice)',
  'credit_id': '52fe4284c3a36847f8024fa9',
  'gender': 2,
  'id': 7907,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'cast_id': 20,
  'character': 'Bo Peep (voice)',
  'credit_id': '52fe4284c3a36847f8024fad',
  'gender': 1,
  'id': 8873,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'cast_id': 26,
  'character': 'Andy (voice)',
  'credit_id': '52fe4284c3a36847f8024fc1',
  'gender': 0,
  'id': 1116442,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'cast_id': 22,
  'character': 'Sid (voice)',
  'credit_id': '52fe4284c3a36847f8024fb1',
  'gender': 2,
  'id': 12901,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'cast_id': 23,
  'character': 'Mrs. Davis (voice)',
  'credit_id': '52fe4284c3a36847f8024fb5',
  'gender': 1,
  'id': 12133,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 {'cast_id': 24,
  'character': 'Sergeant (voice)',
  'credit_id': '52fe4284c3a36847f8024fb9',
  'gender': 2,
  'id': 8655,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'cast_id': 25,
  'character': 'Hannah (voice)',
  'credit_id': '52fe4284c3a36847f8024fbd',
  'gender': 1,
  'id': 12903,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': None},
 {'cast_id': 27,
  'character': 'TV Announcer (voice)',
  'credit_id': '52fe4284c3a36847f8024fc5',
  'gender': 2,
  'id': 37221,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [ ]:
ast.literal_eval(c.cast.values[0])[0]

{'cast_id': 14,
 'character': 'Woody (voice)',
 'credit_id': '52fe4284c3a36847f8024f95',
 'gender': 2,
 'id': 31,
 'name': 'Tom Hanks',
 'order': 0,
 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}

In [ ]:
ast.literal_eval(c.cast.values[0])[0]["name"]

'Tom Hanks'

In [ ]:
credits.cast.values[0]

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

In [ ]:
k = 0
for i in credits.cast: 
  movie_cast = [x['name'] for x in ast.literal_eval(i)] 
  row = [] 
  for j in movie_cast: 
    if j in casts:
      row.append(j)
  credits.cast.values[k] = str(list(row))
  k = k + 1

In [ ]:
credits.cast.values[0]

"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim Varney', 'Wallace Shawn', 'John Ratzenberger', 'Annie Potts', 'John Morris', 'Erik von Detten', 'Laurie Metcalf', 'R. Lee Ermey', 'Sarah Freeman', 'Penn Jillette']"

we also only need the director from the crew

In [ ]:
def get_director(x):
    x = ast.literal_eval(x)
    for i in x:
        if i == "[]":
            return np.nan
        if i['job'] == 'Director':
            return i['name']
      
    return np.nan

In [ ]:
credits['director'] = credits['crew'].apply(get_director)

In [ ]:
credits['director']

0           John Lasseter
1            Joe Johnston
2           Howard Deutch
3         Forest Whitaker
4           Charles Shyer
               ...
45471    Hamid Nematollah
45472            Lav Diaz
45473      Mark L. Lester
45474    Yakov Protazanov
45475       Daisy Asquith
Name: director, Length: 45432, dtype: object

In [ ]:
credits.drop(["crew"], axis=1, inplace=True)

In [ ]:
credits[["id"]].dtypes

id    int64
dtype: object

In [ ]:
credits.head()

                                                cast     id         director
0  ['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...    862    John Lasseter
1  ['Robin Williams', 'Jonathan Hyde', 'Kirsten D...   8844     Joe Johnston
2  ['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...  15602    Howard Deutch
3  ['Whitney Houston', 'Angela Bassett', 'Loretta...  31357  Forest Whitaker
4  ['Steve Martin', 'Diane Keaton', 'Martin Short...  11862    Charles Shyer

In [ ]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [ ]:
keywords.isnull().sum()

id          0
keywords    0
dtype: int64

In [ ]:
keywords.duplicated().sum()

987

In [ ]:
keywords.shape

(46419, 2)

In [ ]:
keywords = keywords.drop_duplicates(subset = 'id')

In [ ]:
keywords.duplicated().sum()

0

we do the name extracting here as well , to have more meaningfull data

In [ ]:
kw = set([])
for i in keywords.keywords.values:
    l = ast.literal_eval(i)
    for j in l:
        kw.add(j["name"])

In [ ]:
keywords.keywords.values[0]

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

In [ ]:
k = 0
for i in keywords.keywords: 
  movie_kw = [x['name'] for x in ast.literal_eval(i)] 
  row = [] # for each column of genres stores 1 if movie has this genre otherwise 0
  for j in kw: 
    if j in movie_kw:
      row.append(j)
  keywords.keywords.values[k] = str(list(row))
  k = k + 1

In [ ]:
keywords.keywords.values[0]

"['rivalry', 'jealousy', 'new toy', 'friendship', 'friends', 'boy next door', 'toy comes to life', 'toy', 'boy']"

In [ ]:
keywords[["id"]].dtypes

id    int64
dtype: object

In [ ]:
keywords.head()

      id                                           keywords
0    862  ['rivalry', 'jealousy', 'new toy', 'friendship...
1   8844  ['disappearance', 'giant insect', 'board game'...
2  15602  ['duringcreditsstinger', 'old men', 'fishing',...
3  31357  ['single mother', 'chick flick', 'interracial ...
4  11862  ['contraception', 'gynecologist', 'aging', 'pr...

In [ ]:
movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [ ]:
list(movies_metadata.columns)

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [ ]:
movies_metadata.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [ ]:
movies_metadata = movies_metadata[movies_metadata['vote_count'] >= 15]

In [ ]:
movies_metadata.adult = movies_metadata.adult.map({'True':1,'False':0})

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
movies_metadata.loc[~movies_metadata.adult.isin([1,0]), :]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [ ]:
movies_metadata = movies_metadata.loc[movies_metadata.adult.isin([1 , 0]), :]

In [ ]:
movies_metadata.loc[~movies_metadata.adult.isin([1,0]), :]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [ ]:
movies_metadata['belongs_to_collection'].head()

0    {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                  NaN
2    {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                  NaN
4    {'id': 96871, 'name': 'Father of the Bride Col...
Name: belongs_to_collection, dtype: object

In [ ]:
ast.literal_eval(movies_metadata.belongs_to_collection.values[0])

{'id': 10194,
 'name': 'Toy Story Collection',
 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

extract the name of the collection and if there are nan values replace with "no collection"

In [ ]:

collectionNames = [] 

for i in movies_metadata['belongs_to_collection'].values: 
    if i==i: #if i is nan value i==i is equal to false
      collectionNames.append(ast.literal_eval(i)['name'])
    else:
      collectionNames.append("No Collection")


movies_metadata['collectionName'] = collectionNames
movies_metadata = movies_metadata.drop(columns = ['belongs_to_collection'])

In [ ]:
movies_metadata['budget'].head()

0    30000000
1    65000000
2           0
3    16000000
4           0
Name: budget, dtype: object

In [ ]:
movies_metadata.budget.describe()

count     18524
unique      905
top           0
freq      11411
Name: budget, dtype: object

In [ ]:
movies_metadata.budget = movies_metadata.budget.astype('int64')

In [ ]:
movies_metadata.budget.describe()

count    1.852400e+04
mean     1.007488e+07
std      2.614894e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      6.500000e+06
max      3.800000e+08
Name: budget, dtype: float64

In [ ]:
sum(movies_metadata.budget == 0)

11411

In [ ]:
movies_metadata.budget.shape

(18524,)

most of the data is missing , maybe not use budget? we probaby should drop it

In [ ]:
movies_metadata.drop(columns = ['budget'] , inplace = True)

In [ ]:
movies_metadata.genres.head()

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, dtype: object

extract all genres existing in the dataset

In [ ]:
all_genres = set([])
for i in movies_metadata.genres.values:
    genList = ast.literal_eval(i)
    for j in genList:
        all_genres.add(j["name"])

In [ ]:
movie_rows = []

In [ ]:
all_genres

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western'}

we have one column for each genre and for each movie we check they have that genre or not , if so we set 1 in the reletive column

In [ ]:
for i in movies_metadata.genres: 
  movie_genres = [x['name'] for x in ast.literal_eval(i)] 
  row = [] # for each column of genres stores 1 if movie has this genre otherwise 0
  for j in all_genres:
    if(j in movie_genres):
      row.append(j)
  movie_rows.append(row)

In [ ]:
movie_rows[0:10]

[['Comedy', 'Family', 'Animation'],
 ['Adventure', 'Family', 'Fantasy'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy'],
 ['Crime', 'Action', 'Thriller', 'Drama'],
 ['Comedy', 'Romance'],
 ['Adventure', 'Action', 'Family', 'Drama'],
 ['Adventure', 'Action', 'Thriller'],
 ['Adventure', 'Action', 'Thriller']]

In [ ]:
movies_metadata['genres'] = movie_rows

In [ ]:
movies_metadata.head()

,adult,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collectionName
0,0,"[Comedy, Family, Animation]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,0,"[Adventure, Family, Fantasy]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,No Collection
2,0,"[Comedy, Romance]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,0,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,No Collection
4,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection

In [ ]:
list(movies_metadata.columns)

['adult',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count',
 'collectionName']

we can drop hompage , posterpath , imdb_id  , video

In [ ]:
movies_metadata.drop(['homepage', 'imdb_id' , 'video' , 'poster_path'], axis = 1, inplace = True)

In [ ]:
movies_metadata.duplicated(subset = 'id').sum()

16

In [ ]:
movies_metadata = movies_metadata.drop_duplicates(subset = 'id')

In [ ]:
movies_metadata.duplicated(subset = 'id').sum()

0

In [ ]:
movies_metadata.id.isnull().sum()

0

In [ ]:
movies_metadata.dropna(subset = ['id'],inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
movies_metadata.id = movies_metadata.id.astype('int64')

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
movies_metadata.original_language.isnull().sum()

1

In [ ]:
movies_metadata.original_language.value_counts()

en    13854
fr     1159
ja      579
it      542
es      329
de      311
ko      239
hi      227
zh      175
cn      171
ru      164
sv      104
pt      101
da       81
nl       56
pl       40
no       35
cs       30
fi       29
tr       29
fa       27
th       26
he       19
xx       18
hu       17
sr       17
ro       16
el       15
ta       13
ar        9
is        7
bn        6
id        6
tl        5
et        4
bs        4
te        4
ml        3
uk        3
ca        3
vi        3
nb        3
ab        2
mn        2
lt        2
sl        2
ka        2
ku        2
ms        1
eu        1
bg        1
sh        1
lo        1
sq        1
la        1
af        1
bm        1
ps        1
sk        1
hr        1
Name: original_language, dtype: int64

In [ ]:
movies_metadata.dropna(subset=["original_language"],inplace=True)

In [ ]:
movies_metadata.original_language.isnull().sum()

0

In [ ]:
movies_metadata.title

0                           Toy Story
1                             Jumanji
2                    Grumpier Old Men
3                   Waiting to Exhale
4         Father of the Bride Part II
                     ...
45437                  In a Heartbeat
45441                     Cadet Kelly
45443    The Man with the Rubber Head
45450                The One-Man Band
45460                      Robin Hood
Name: title, Length: 18507, dtype: object

In [ ]:
movies_metadata.original_title

0                              Toy Story
1                                Jumanji
2                       Grumpier Old Men
3                      Waiting to Exhale
4            Father of the Bride Part II
                      ...
45437                     In a Heartbeat
45441                        Cadet Kelly
45443    L'Homme à la tête de caoutchouc
45450                  L'Homme orchestre
45460                         Robin Hood
Name: original_title, Length: 18507, dtype: object

probably one of the features above is enough , its better to keep org title and drop title

In [ ]:
movies_metadata.drop(columns=['title'],inplace=True)

In [ ]:
movies_metadata.overview

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45437    A closeted boy runs the risk of being outed by...
45441    Hyperactive teenager Kelly is enrolled into a ...
45443    A chemist in his laboratory places upon a tabl...
45450    A band-leader has arranged seven chairs for th...
45460    Yet another version of the classic epic, with ...
Name: overview, Length: 18507, dtype: object

In [ ]:
movies_metadata.overview.isnull().sum()

130

its not too many but still its better not to drop

In [ ]:
movies_metadata.loc[movies_metadata.overview.isnull(),'overview'] = "no overview"

In [ ]:
movies_metadata.popularity

0        21.946943
1        17.015539
2          11.7129
3         3.859495
4         8.387519
           ...
45437     20.82178
45441     4.392389
45443     1.618458
45450     1.109068
45460     5.683753
Name: popularity, Length: 18507, dtype: object

In [ ]:
movies_metadata.popularity.isnull().sum()

0

In [ ]:
movies_metadata.dropna(subset=['popularity'],inplace=True)

In [ ]:
movies_metadata.popularity.isnull().sum()

0

In [ ]:
movies_metadata.production_companies.values

array(["[{'name': 'Pixar Animation Studios', 'id': 3}]",
       "[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]",
       "[{'name': 'Warner Bros.', 'id': 6194}, {'name': 'Lancaster Gate', 'id': 19464}]",
       ..., "[{'name': 'Star Film Company', 'id': 45867}]",
       "[{'name': 'Star Film Company', 'id': 45867}]",
       "[{'name': 'Westdeutscher Rundfunk (WDR)', 'id': 7025}, {'name': 'Working Title Films', 'id': 10163}, {'name': '20th Century Fox Television', 'id': 16323}, {'name': 'CanWest Global Communications', 'id': 38978}]"],
      dtype=object)

In [ ]:
movies_metadata.production_countries.values

array(["[{'iso_3166_1': 'US', 'name': 'United States of America'}]",
       "[{'iso_3166_1': 'US', 'name': 'United States of America'}]",
       "[{'iso_3166_1': 'US', 'name': 'United States of America'}]", ...,
       "[{'iso_3166_1': 'FR', 'name': 'France'}]",
       "[{'iso_3166_1': 'FR', 'name': 'France'}]",
       "[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"],
      dtype=object)

In [ ]:
movies_metadata.drop(columns=['production_countries'],inplace=True)

we dont need the production country but maybe we need producers  , we clear that up for now

In [ ]:
producers = set([])
for i in movies_metadata.production_companies.values:
    l = ast.literal_eval(i)
    for j in l:
        producers.add(j["name"])

In [ ]:
movies_metadata.production_companies.values[0]

"[{'name': 'Pixar Animation Studios', 'id': 3}]"

In [ ]:
k = 0
for i in movies_metadata.production_companies: 
  movie_producer = [x['name'] for x in ast.literal_eval(i)] 
  row = []
  for j in movie_producer: 
    if j in producers:
      row.append(j)
  movies_metadata.production_companies.values[k] = (list(row))
  k = k + 1

In [ ]:
movies_metadata.production_companies.values[0]

['Pixar Animation Studios']

In [ ]:
movies_metadata.release_date

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45437    2017-06-01
45441    2002-03-07
45443    1901-01-01
45450    1900-01-01
45460    1991-05-13
Name: release_date, Length: 18507, dtype: object

In [ ]:
movies_metadata.release_date.isnull().sum()

3

In [ ]:
movies_metadata.dropna(subset=['release_date'],inplace=True)

In [ ]:
movies_metadata.release_date.isnull().sum()

0

In [ ]:
movies_metadata.release_date = pd.to_datetime(movies_metadata.release_date, format='%Y-%m-%d')

we are gonna drop runtime , spoken_languages , tagline

In [ ]:
movies_metadata.drop(['runtime', 'spoken_languages' , 'tagline'], axis = 1, inplace = True)

In [ ]:
movies_metadata.revenue = movies_metadata.revenue.astype('int64')

In [ ]:
sum(movies_metadata.revenue == 0)

12012

80% of data is missing we drop this too

In [ ]:
movies_metadata.drop(['revenue'], axis = 1, inplace = True)

In [ ]:
movies_metadata.status.value_counts()

Released           18446
Post Production       26
Rumored               18
In Production          9
Planned                4
Name: status, dtype: int64

In [ ]:
movies_metadata.status.isnull().sum()

1

instead of deleting rows we fill nans with released

In [ ]:
movies_metadata.status = movies_metadata.status.fillna('Released')

In [ ]:
movies_metadata.vote_average.isnull().sum()

0

In [ ]:
movies_metadata.vote_average.dtype

dtype('float64')

In [ ]:
movies_metadata.vote_count.isnull().sum()

0

In [ ]:
movies_metadata.vote_count.dtype

dtype('float64')

In [ ]:
list(movies_metadata.columns)

['adult',
 'genres',
 'id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'production_companies',
 'release_date',
 'status',
 'vote_average',
 'vote_count',
 'collectionName']

In [ ]:
movies_metadata.isnull().sum()

adult                   0
genres                  0
id                      0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
release_date            0
status                  0
vote_average            0
vote_count              0
collectionName          0
dtype: int64

In [ ]:
movies_metadata = movies_metadata.dropna()

In [ ]:
movies_metadata.isnull().sum()

adult                   0
genres                  0
id                      0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
release_date            0
status                  0
vote_average            0
vote_count              0
collectionName          0
dtype: int64

In [ ]:
movies_metadata.head()

,adult,genres,id,original_language,original_title,overview,popularity,production_companies,release_date,status,vote_average,vote_count,collectionName
0,0,"[Comedy, Family, Animation]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],1995-10-30,Released,7.7,5415.0,Toy Story Collection
1,0,"[Adventure, Family, Fantasy]",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",1995-12-15,Released,6.9,2413.0,No Collection
2,0,"[Comedy, Romance]",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",1995-12-22,Released,6.5,92.0,Grumpy Old Men Collection
3,0,"[Comedy, Drama, Romance]",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],1995-12-22,Released,6.1,34.0,No Collection
4,0,[Comedy],11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",1995-02-10,Released,5.7,173.0,Father of the Bride Collection

# **Content-based Model**

now we merge datasets we need for content based model, which are movies_metadata, credits, keywords.

In [ ]:
data_cb = pd.merge(movies_metadata, keywords, on="id")
data_cb = pd.merge(data_cb, credits, on="id")
data_cb.head()

,adult,genres,id,original_language,original_title,overview,popularity,production_companies,release_date,status,vote_average,vote_count,collectionName,keywords,cast,director
0,0,"[Comedy, Family, Animation]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],1995-10-30,Released,7.7,5415.0,Toy Story Collection,"['rivalry', 'jealousy', 'new toy', 'friendship...","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",John Lasseter
1,0,"[Adventure, Family, Fantasy]",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",1995-12-15,Released,6.9,2413.0,No Collection,"['disappearance', 'giant insect', 'board game'...","['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",Joe Johnston
2,0,"[Comedy, Romance]",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",1995-12-22,Released,6.5,92.0,Grumpy Old Men Collection,"['duringcreditsstinger', 'old men', 'fishing',...","['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...",Howard Deutch
3,0,"[Comedy, Drama, Romance]",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],1995-12-22,Released,6.1,34.0,No Collection,"['single mother', 'chick flick', 'interracial ...","['Whitney Houston', 'Angela Bassett', 'Loretta...",Forest Whitaker
4,0,[Comedy],11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",1995-02-10,Released,5.7,173.0,Father of the Bride Collection,"['contraception', 'gynecologist', 'aging', 'pr...","['Steve Martin', 'Diane Keaton', 'Martin Short...",Charles Shyer

to validate our merge result

In [ ]:
data_cb.loc[lambda x: data_cb['original_title'] == 'The Godfather']

,adult,genres,id,original_language,original_title,overview,popularity,production_companies,release_date,status,vote_average,vote_count,collectionName,keywords,cast,director
581,0,"[Crime, Drama]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",41.109264,"[Paramount Pictures, Alfran Productions]",1972-03-14,Released,8.5,6024.0,The Godfather Collection,"['crime family', 'love at first sight', 'organ...","['Marlon Brando', 'Al Pacino', 'James Caan', '...",Francis Ford Coppola

we find the status values Rumored and others are'nt helpful for recommending, so we only keep Released movies

In [ ]:
data_cb.status.value_counts()

Released           18447
Post Production       26
Rumored               18
In Production          9
Planned                4
Name: status, dtype: int64

In [ ]:
data_cb = data_cb.loc[data_cb.status.isin(['Released']), :]
data_cb.status.value_counts()

Released    18447
Name: status, dtype: int64

also adult, popularity, original_language, release_date, vote_average and vote_count are user dependant datas so we drop them too in content-based model, also we drop status feature because all of our data is Released movies

In [ ]:
data_cb.drop(['adult', 'popularity', 'original_language' , 'release_date' , 'vote_average', 'vote_count' , 'status'], axis = 1, inplace = True)
list(data_cb.columns)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

['genres',
 'id',
 'original_title',
 'overview',
 'production_companies',
 'collectionName',
 'keywords',
 'cast',
 'director']

In [ ]:
data_cb.head()

,genres,id,original_title,overview,production_companies,collectionName,keywords,cast,director
0,"[Comedy, Family, Animation]",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",[Pixar Animation Studios],Toy Story Collection,"['rivalry', 'jealousy', 'new toy', 'friendship...","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",John Lasseter
1,"[Adventure, Family, Fantasy]",8844,Jumanji,When siblings Judy and Peter discover an encha...,"[TriStar Pictures, Teitler Film, Interscope Co...",No Collection,"['disappearance', 'giant insect', 'board game'...","['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",Joe Johnston
2,"[Comedy, Romance]",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Warner Bros., Lancaster Gate]",Grumpy Old Men Collection,"['duringcreditsstinger', 'old men', 'fishing',...","['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...",Howard Deutch
3,"[Comedy, Drama, Romance]",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",[Twentieth Century Fox Film Corporation],No Collection,"['single mother', 'chick flick', 'interracial ...","['Whitney Houston', 'Angela Bassett', 'Loretta...",Forest Whitaker
4,[Comedy],11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[Sandollar Productions, Touchstone Pictures]",Father of the Bride Collection,"['contraception', 'gynecologist', 'aging', 'pr...","['Steve Martin', 'Diane Keaton', 'Martin Short...",Charles Shyer

now we have some string based features so we concat them into one feature named movie_data and then we extract some numerical features from movie_data via vectorizing

In [ ]:
list(data_cb.columns)

['genres',
 'id',
 'original_title',
 'overview',
 'production_companies',
 'collectionName',
 'keywords',
 'cast',
 'director']

In [ ]:
data_cb

,genres,id,original_title,overview,production_companies,collectionName,keywords,cast,director
0,"[Comedy, Family, Animation]",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",[Pixar Animation Studios],Toy Story Collection,"['rivalry', 'jealousy', 'new toy', 'friendship...","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",John Lasseter
1,"[Adventure, Family, Fantasy]",8844,Jumanji,When siblings Judy and Peter discover an encha...,"[TriStar Pictures, Teitler Film, Interscope Co...",No Collection,"['disappearance', 'giant insect', 'board game'...","['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",Joe Johnston
2,"[Comedy, Romance]",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Warner Bros., Lancaster Gate]",Grumpy Old Men Collection,"['duringcreditsstinger', 'old men', 'fishing',...","['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...",Howard Deutch
3,"[Comedy, Drama, Romance]",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",[Twentieth Century Fox Film Corporation],No Collection,"['single mother', 'chick flick', 'interracial ...","['Whitney Houston', 'Angela Bassett', 'Loretta...",Forest Whitaker
4,[Comedy],11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[Sandollar Productions, Touchstone Pictures]",Father of the Bride Collection,"['contraception', 'gynecologist', 'aging', 'pr...","['Steve Martin', 'Diane Keaton', 'Martin Short...",Charles Shyer
...,...,...,...,...,...,...,...,...,...
18499,"[Comedy, Family, Animation, Romance]",455661,In a Heartbeat,A closeted boy runs the risk of being outed by...,[Ringling College of Art and Design],No Collection,"['short', 'lgbt', 'teenager', 'love']",[],Beth David
18500,[Comedy],14008,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,"[Walt Disney Television, Disney Channel, Leide...",No Collection,['military school'],"['Hilary Duff', 'Christy Carlson Romano', 'Gar...",Larry Shaw
18501,"[Comedy, Science Fiction, Fantasy]",49279,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,[Star Film Company],No Collection,"['short', 'laboratory', 'mad scientist', 'dise...",['Georges Méliès'],Georges Méliès
18502,"[Action, Fantasy, Thriller]",49280,L'Homme orchestre,A band-leader has arranged seven chairs for th...,[Star Film Company],No Collection,[],['Georges Méliès'],Georges Méliès
18503,"[Action, Drama, Romance]",30840,Robin Hood,"Yet another version of the classic epic, with ...","[Westdeutscher Rundfunk (WDR), Working Title F...",No Collection,[],"['Patrick Bergin', 'Uma Thurman', 'David Morri...",John Irvin

we have lists which are shown in string for features keywords, prod_comp, cast and dir so we make them lists (list of strings) and then we concat list elements (strings) into one string and replace this elements in our dataframe

In [ ]:
# data_cb['genres'] = data_cb['genres'].apply(lambda x: ast.literal_eval(x))
data_cb['keywords'] = data_cb['keywords'].apply(lambda x: ast.literal_eval(x))
data_cb['cast'] = data_cb['cast'].apply(lambda x: ast.literal_eval(x))

In [ ]:
data_cb['genres'] = data_cb['genres'].apply(lambda x: ' '.join(map(str, x)))
data_cb['production_companies'] = data_cb['production_companies'].apply(lambda x: ' '.join(map(str, x)))
data_cb['keywords'] = data_cb['keywords'].apply(lambda x: ' '.join(map(str, x)))
data_cb['cast'] = data_cb['cast'].apply(lambda x: ' '.join(map(str, x)))
data_cb

,genres,id,original_title,overview,production_companies,collectionName,keywords,cast,director
0,Comedy Family Animation,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",Pixar Animation Studios,Toy Story Collection,rivalry jealousy new toy friendship friends bo...,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...,John Lasseter
1,Adventure Family Fantasy,8844,Jumanji,When siblings Judy and Peter discover an encha...,TriStar Pictures Teitler Film Interscope Commu...,No Collection,disappearance giant insect board game based on...,Robin Williams Jonathan Hyde Kirsten Dunst Bra...,Joe Johnston
2,Comedy Romance,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,Warner Bros. Lancaster Gate,Grumpy Old Men Collection,duringcreditsstinger old men fishing best friend,Walter Matthau Jack Lemmon Ann-Margret Sophia ...,Howard Deutch
3,Comedy Drama Romance,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Twentieth Century Fox Film Corporation,No Collection,single mother chick flick interracial relation...,Whitney Houston Angela Bassett Loretta Devine ...,Forest Whitaker
4,Comedy,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,Sandollar Productions Touchstone Pictures,Father of the Bride Collection,contraception gynecologist aging pregnancy mot...,Steve Martin Diane Keaton Martin Short Kimberl...,Charles Shyer
...,...,...,...,...,...,...,...,...,...
18499,Comedy Family Animation Romance,455661,In a Heartbeat,A closeted boy runs the risk of being outed by...,Ringling College of Art and Design,No Collection,short lgbt teenager love,,Beth David
18500,Comedy,14008,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,Walt Disney Television Disney Channel Leider/S...,No Collection,military school,Hilary Duff Christy Carlson Romano Gary Cole S...,Larry Shaw
18501,Comedy Science Fiction Fantasy,49279,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,Star Film Company,No Collection,short laboratory mad scientist disembodied hea...,Georges Méliès,Georges Méliès
18502,Action Fantasy Thriller,49280,L'Homme orchestre,A band-leader has arranged seven chairs for th...,Star Film Company,No Collection,,Georges Méliès,Georges Méliès
18503,Action Drama Romance,30840,Robin Hood,"Yet another version of the classic epic, with ...",Westdeutscher Rundfunk (WDR) Working Title Fil...,No Collection,,Patrick Bergin Uma Thurman David Morrissey Jür...,John Irvin

In [ ]:
data_cb['movie_data'] = (data_cb['original_title'] + ' ' + data_cb['genres'] + ' ' + data_cb['overview'] + ' ' + data_cb['production_companies'] + ' '
                        + data_cb['collectionName'] + ' ' + data_cb['keywords'] + ' ' + data_cb['cast'] + ' ' + data_cb['director'] )

In [ ]:
data_cb.drop(['overview', 'collectionName', 'production_companies' , 'keywords' , 'cast', 'director', 'genres'], axis = 1, inplace = True)

In [ ]:
data_cb['movie_data'] = data_cb['movie_data'].astype(str)
data_cb

,id,original_title,movie_data
0,862,Toy Story,Toy Story Comedy Family Animation Led by Woody...
1,8844,Jumanji,Jumanji Adventure Family Fantasy When siblings...
2,15602,Grumpier Old Men,Grumpier Old Men Comedy Romance A family weddi...
3,31357,Waiting to Exhale,Waiting to Exhale Comedy Drama Romance Cheated...
4,11862,Father of the Bride Part II,Father of the Bride Part II Comedy Just when G...
...,...,...,...
18499,455661,In a Heartbeat,In a Heartbeat Comedy Family Animation Romance...
18500,14008,Cadet Kelly,Cadet Kelly Comedy Hyperactive teenager Kelly ...
18501,49279,L'Homme à la tête de caoutchouc,L'Homme à la tête de caoutchouc Comedy Science...
18502,49280,L'Homme orchestre,L'Homme orchestre Action Fantasy Thriller A ba...
18503,30840,Robin Hood,Robin Hood Action Drama Romance Yet another ve...

vectorizing our movie_data feature, because its string and we need numerical data to perform model on

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features = 5000)
 
vectorized = tfidf.fit_transform(data_cb['movie_data'].values)
vectorized

<18447x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 1213382 stored elements in Compressed Sparse Row format>

In [ ]:
vectorized = pd.DataFrame(vectorized.toarray(), index = data_cb['movie_data'].index.tolist())

In [ ]:
vectorized

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18501,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18503,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

adding Genre

In [ ]:
from sklearn.decomposition import TruncatedSVD

In [ ]:
# Initialize a PCA object
svd = TruncatedSVD(n_components = 100)
reduced_data = svd.fit_transform(vectorized)

In [ ]:
reduced_data

array([[ 0.16357163, -0.03987657,  0.00324708, ..., -0.0143705 ,
         0.03608851,  0.01561241],
       [ 0.20994834, -0.06614158,  0.00446813, ...,  0.02927716,
         0.00979781,  0.01387252],
       [ 0.18869606,  0.05531863,  0.04895141, ..., -0.01643781,
         0.0012026 ,  0.01488045],
       ...,
       [ 0.28837081,  0.06780819, -0.12051459, ...,  0.028448  ,
        -0.02290647, -0.0109678 ],
       [ 0.28648251,  0.05825347, -0.13873636, ...,  0.00435753,
         0.03713206, -0.02260185],
       [ 0.23996453, -0.00803214, -0.09986273, ..., -0.02379571,
        -0.00837773, -0.01909746]])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(reduced_data)
# similarity = cosine_similarity(vectorized)

In [ ]:
def recommendation(movie , n):
    rcmnds = []
    sims = []
    movie_data = data_cb[data_cb['original_title']==movie]
    distances = similarity[movie_data.index[0]]
    sim_movie_rank = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:n+1]
    for i in sim_movie_rank:
          rcmnds.append((data_cb.iloc[i[0]].original_title))
          sims.append(round(i[1],2))
        #print(f'{data_cb.iloc[i[0]].original_title} => similarity: {round(i[1],2)}')
    return rcmnds, sims

In [ ]:
recommendation('Toy Story' , 10)

(['Toy Story 2',
  'Toy Story 3',
  'Small Fry',
  'Hawaiian Vacation',
  'Partysaurus Rex',
  'Monsters University',
  'Knick Knack',
  'Up',
  "Red's Dream",
  'The Flintstones & WWE: Stone Age Smackdown'],
 [0.88, 0.8, 0.79, 0.75, 0.75, 0.71, 0.7, 0.69, 0.68, 0.68])

# **Collaborative Filtering**

In [ ]:
ratings = pd.read_csv('/content/drive/MyDrive/ML PROJECT/IMDB/ratings_small.csv')
movie = movies_metadata

In [ ]:
movie = movie[["id" , "original_title"]]

In [ ]:
movie= movie.rename(columns={'id':'movieId'})

In [ ]:
ratings= ratings[['userId', 'movieId', 'rating']]

In [ ]:
movie.movieId =pd.to_numeric(movie.movieId, errors='coerce')
ratings.movieId = pd.to_numeric(ratings.movieId, errors= 'coerce')

In [ ]:
data_cf = pd.merge(ratings, movie, on='movieId', how='inner')

In [ ]:
table = data_cf.pivot_table(index='userId', columns='original_title', values='rating')

In [ ]:
table

original_title,...Più forte ragazzi!,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 Angry Men,13 Tzameti,1408,15 Minutes,...,빈집,사마리아,연가시,오직 그대만,올드보이,"장화, 홍련",최종병기 활,친절한 금자씨,해안선,활
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
table.fillna(0,inplace=True)

In [ ]:
table

original_title,...Più forte ragazzi!,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 Angry Men,13 Tzameti,1408,15 Minutes,...,빈집,사마리아,연가시,오직 그대만,올드보이,"장화, 홍련",최종병기 활,친절한 금자씨,해안선,활
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
670,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
671,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
def pearsonR(s1, s2):
    s1_c = s1-s1.mean()
    s2_c= s2-s2.mean()
    return np.sum(s1_c*s2_c) / np.sqrt(np.sum(s1_c**2)* np.sum(s2_c**2))

In [ ]:
def recommend(movie, M, n):
    reviews=[]
    names = []
    for title in M.columns:
        if title == movie:
            names.append([title])
            continue
        cor= pearsonR(M[movie], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
            
    reviews.sort(key= lambda x: x[1], reverse=True)
    for x in reviews[:n]:
      names[0].append(x[0])
    #names[0].append(x[0] for x in reviews[:n])

    #df = pd.DataFrame(reviews,index=range(1,n+1))

    return reviews[:n] , names

In [ ]:
recommend('Pulp Fiction', table, 10)

([('Lord of Illusions', 0.4635993716194952),
  ('Mangiati vivi!', 0.4550340301157155),
  ('CQ', 0.45503403011571547),
  ('Ödipussi', 0.45503403011571547),
  ('Garde à vue', 0.4550340301157154),
  ('Monsieur Batignole', 0.4139013479229409),
  ('Bogus', 0.40407811652965997),
  ('Constantine', 0.40407811652965997),
  ('Crash', 0.40407811652965997),
  ('Groundhog Day', 0.40407811652965997)],
 [['Pulp Fiction',
   'Lord of Illusions',
   'Mangiati vivi!',
   'CQ',
   'Ödipussi',
   'Garde à vue',
   'Monsieur Batignole',
   'Bogus',
   'Constantine',
   'Crash',
   'Groundhog Day']])

# **Hybrid**

In [ ]:
def hybrid_recommendation_cff(movie_name , data , n):
  r , name =recommend(movie_name, data, n)
  data_hy = data_cb.loc[data_cb.original_title.isin(name[0]), :]
  tfidf = TfidfVectorizer(max_features = 5000)
  vectorized = tfidf.fit_transform(data_hy['movie_data'].values)
  vectorized = pd.DataFrame(vectorized.toarray(), index = data_hy['movie_data'].index.tolist())
  svd = TruncatedSVD(n_components = 100)
  reduced_data = svd.fit_transform(vectorized)
  similarity = cosine_similarity(reduced_data)
  movie_data = data_hy[data_hy['original_title']==movie_name]
  distances = similarity[0]
  sim_movie_rank = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
  for i in sim_movie_rank:
      print(f'{data_hy.iloc[i[0]].original_title} => similarity: {round(i[1],2)}')

In [ ]:
hybrid_recommendation_cff('Pulp Fiction' , table , 10)

Ödipussi => similarity: 0.07
Mangiati vivi! => similarity: 0.06
Monsieur Batignole => similarity: 0.06
Constantine => similarity: 0.05
Garde à vue => similarity: 0.05

In [ ]:
def hybrid_recommendation_cbf (mn):
  rcmnds, sims = recommendation(mn , 30)
  rcmnds.append(mn)
  ratings = pd.read_csv('/content/drive/MyDrive/ML PROJECT/IMDB/ratings_small.csv')
  movie = movies_metadata.loc[movies_metadata.original_title.isin(rcmnds), :]
  movie = movie[["id" , "original_title"]]
  movie= movie.rename(columns={'id':'movieId'})

  ratings= ratings[['userId', 'movieId', 'rating']]
  movie.movieId =pd.to_numeric(movie.movieId, errors='coerce')
  ratings.movieId = pd.to_numeric(ratings.movieId, errors= 'coerce')
  hy = pd.merge(ratings, movie, on='movieId', how='inner')
  table = hy.pivot_table(index='userId', columns='original_title', values='rating')
  table.fillna(0,inplace=True)
  r , names =recommend(mn, table, 5)
  names[0].remove(mn)
  return names

In [ ]:
hybrid_recommendation_cbf('Pulp Fiction')

[['Trainspotting', 'Oscar', 'Heat', 'GoodFellas', 'RoboCop']]

In [ ]:
recommendation('Pulp Fiction' , 5)

(['Wrong Turn at Tahoe',
  'Bullet',
  'The Infiltrator',
  'Scarface',
  'American Gangster'],
 [0.69, 0.69, 0.69, 0.68, 0.67])

In [ ]:
!pip install mlflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mlflow
  Downloading mlflow-2.1.1-py3-none-any.whl (16.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.7/16.7 MB 75.2 MB/s eta 0:00:00
Collecting databricks-cli<1,>=0.8.7
  Downloading databricks-cli-0.17.4.tar.gz (82 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.3/82.3 KB 12.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting gunicorn<21
  Downloading gunicorn-20.1.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.5/79.5 KB 9.5 MB/s eta 0:00:00
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.8/dist-packages (from mlflow) (7.1.2)
Requirement already satisfied: sqlalchemy<2,>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from mlflow) (1.4.46)
Requirement already satisfied: markdown<4,>=3.3 in /usr/local/lib/python3.8/dist-packages (from mlflow) (3.4.1)
Collecting docker<7,>=4.0.0
  Downloading docker-6.0.1-py3-none-any.whl (147 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 147.5/147.5 KB 19.7 MB/s eta 0:00:00
Collecting querystring-parser<2
  Downloading querystring_parser-1.2.4-py2.py3-none-any.whl (7.9 kB)
Requirement already satisfied: requests<3,>=2.17.3 in /usr/local/lib/python3.8/dist-packages (from mlflow) (2.25.1)
Requirement already satisfied: scipy<2 in /usr/local/lib/python3.8/dist-packages (from mlflow) (1.7.3)
Requirement already satisfied: numpy<2 in /usr/local/lib/python3.8/dist-packages (from mlflow) (1.21.6)
Requirement already satisfied: cloudpickle<3 in /usr/local/lib/python3.8/dist-packages (from mlflow) (2.2.0)
Requirement already satisfied: protobuf<5,>=3.12.0 in /usr/local/lib/python3.8/dist-packages (from mlflow) (3.19.6)
Collecting importlib-metadata!=4.7.0,<6,>=3.7.0
  Downloading importlib_metadata-5.2.0-py3-none-any.whl (21 kB)
Requirement already satisfied: pyyaml<7,>=5.1 in /usr/local/lib/python3.8/dist-packages (from mlflow) (6.0)
Requirement already satisfied: matplotlib<4 in /usr/local/lib/python3.8/dist-packages (from mlflow) (3.2.2)
Collecting alembic<2
  Downloading alembic-1.9.2-py3-none-any.whl (210 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 210.6/210.6 KB 26.4 MB/s eta 0:00:00
Requirement already satisfied: pyarrow<11,>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from mlflow) (9.0.0)
Requirement already satisfied: entrypoints<1 in /usr/local/lib/python3.8/dist-packages (from mlflow) (0.4)
Requirement already satisfied: scikit-learn<2 in /usr/local/lib/python3.8/dist-packages (from mlflow) (1.0.2)
Requirement already satisfied: pandas<2 in /usr/local/lib/python3.8/dist-packages (from mlflow) (1.3.5)
Requirement already satisfied: pytz<2023 in /usr/local/lib/python3.8/dist-packages (from mlflow) (2022.7)
Requirement already satisfied: sqlparse<1,>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from mlflow) (0.4.3)
Requirement already satisfied: Flask<3 in /usr/local/lib/python3.8/dist-packages (from mlflow) (1.1.4)
Requirement already satisfied: packaging<23 in /usr/local/lib/python3.8/dist-packages (from mlflow) (21.3)
Collecting shap<1,>=0.40
  Downloading shap-0.41.0-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (575 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 575.9/575.9 KB 53.2 MB/s eta 0:00:00
Collecting gitpython<4,>=2.1.0
  Downloading GitPython-3.1.30-py3-none-any.whl (184 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 184.0/184.0 KB 25.4 MB/s eta 0:00:00
Requirement already satisfied: Jinja2<4,>=2.11 in /usr/local/lib/python3.8/dist-packages (from mlflow) (2.11.3)
Collecting Mako
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.7/78.7 KB 11.9 MB/s eta 0:00:00
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.8/dist-packages (from alembic<2->mlflow) (5.10.2)
Collecting pyjwt>=1.7.0
  Downloading PyJWT-2.6.0-py3-none-any.whl (20 kB)
Requirement already satisfied: oauthlib>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (3.2.2)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.8/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (0.8.10)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.8/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (1.15.0)
Collecting urllib3>=1.26.0
  Downloading urllib3-1.26.14-py2.py3-none-any.whl (140 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.6/140.6 KB 20.8 MB/s eta 0:00:00
Collecting websocket-client>=0.32.0
  Downloading websocket_client-1.4.2-py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.3/55.3 KB 8.6 MB/s eta 0:00:00
Collecting requests<3,>=2.17.3
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 8.5 MB/s eta 0:00:00
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.8/dist-packages (from Flask<3->mlflow) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.8/dist-packages (from Flask<3->mlflow) (1.1.0)
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.10-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 KB 8.9 MB/s eta 0:00:00
Requirement already satisfied: setuptools>=3.0 in /usr/local/lib/python3.8/dist-packages (from gunicorn<21->mlflow) (57.4.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata!=4.7.0,<6,>=3.7.0->mlflow) (3.11.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from Jinja2<4,>=2.11->mlflow) (2.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4->mlflow) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4->mlflow) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4->mlflow) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4->mlflow) (3.0.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.17.3->mlflow) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.17.3->mlflow) (2.10)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.17.3->mlflow) (2.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn<2->mlflow) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn<2->mlflow) (3.1.0)
Requirement already satisfied: numba in /usr/local/lib/python3.8/dist-packages (from shap<1,>=0.40->mlflow) (0.56.4)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.8/dist-packages (from shap<1,>=0.40->mlflow) (4.64.1)
Collecting slicer==0.0.7
  Downloading slicer-0.0.7-py3-none-any.whl (14 kB)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy<2,>=1.4.0->mlflow) (2.0.1)
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.8/dist-packages (from numba->shap<1,>=0.40->mlflow) (0.39.1)
Building wheels for collected packages: databricks-cli
  Building wheel for databricks-cli (setup.py) ... done
  Created wheel for databricks-cli: filename=databricks_cli-0.17.4-py3-none-any.whl size=142894 sha256=1917c47c69e8cf1c457b5221a594f9a3de3e3d2256306d3405dddf8bc3ec30aa
  Stored in directory: /root/.cache/pip/wheels/48/7c/6e/4bf2c1748c7ecf994ca951591de81674ed6bf633e1e337d873
Successfully built databricks-cli
Installing collected packages: websocket-client, urllib3, smmap, slicer, querystring-parser, pyjwt, Mako, importlib-metadata, gunicorn, requests, gitdb, alembic, shap, gitpython, docker, databricks-cli, mlflow
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 6.0.0
    Uninstalling importlib-metadata-6.0.0:
      Successfully uninstalled importlib-metadata-6.0.0
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
Successfully installed Mako-1.2.4 alembic-1.9.2 databricks-cli-0.17.4 docker-6.0.1 gitdb-4.0.10 gitpython-3.1.30 gunicorn-20.1.0 importlib-metadata-5.2.0 mlflow-2.1.1 pyjwt-2.6.0 querystring-parser-1.2.4 requests-2.28.2 shap-0.41.0 slicer-0.0.7 smmap-5.0.0 urllib3-1.26.14 websocket-client-1.4.2

In [ ]:
!databricks configure --host https://community.cloud.databricks.com/

Username: motevalliana99@gmail.com
Password:
Repeat for confirmation:

In [ ]:
import mlflow

In [ ]:
mlflow.set_tracking_uri("databricks")

In [ ]:
mlflow.set_experiment("/Users/motevalliana99@gmail.com/ML_project")

<Experiment: artifact_location='dbfs:/databricks/mlflow-tracking/1379972216504523', creation_time=1674300657880, experiment_id='1379972216504523', last_update_time=1674304745636, lifecycle_stage='active', name='/Users/motevalliana99@gmail.com/ML_project', tags={'mlflow.experiment.sourceName': '/Users/motevalliana99@gmail.com/ML_project',
 'mlflow.experimentType': 'MLFLOW_EXPERIMENT',
 'mlflow.ownerEmail': 'motevalliana99@gmail.com',
 'mlflow.ownerId': '1107927096051311'}>

In [ ]:
import os
from random import random, randint
from mlflow import log_metric, log_param, log_artifacts

if __name__ == "__main__":
    mlflow.start_run()
    r, sims = recommendation('Toy Story', 10)
    # Log a metric; metrics can be updated throughout the run
    log_metric("similarities_min", min(sims))
    log_metric("similarities_max", max(sims))
    log_metric("similarities_avg", sum(sims)/len(sims))

    # # Log an artifact (output file)
    # if not os.path.exists("outputs"):
    #     os.makedirs("outputs")
    # with open("outputs/test.txt", "w") as f:
    #     f.write("hello world!")
    # log_artifacts("outputs")
    mlflow.end_run()

In [ ]:
m, n = recommendation('Toy Story', 10)

In [ ]:
sum(n)/len(n)
min(n)
max(n)

0.87